<div class="content-wrapper mt-md-3 p-2">
    <div class="container p-3 rounded">
        <div class="row pad-botm login-container">
            <div class="col-md-8">
            </div>
        </div>
        <h3>Blood Group <a [routerLink]="['/blood-groups/new']" routerLinkActive="router-link-active" class="btn btn-info">Create new</a>
        </h3>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Value</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bloodGroup of bloodGroups| paginate: { id:'pagination_list', itemsPerPage: itemsPerPage, currentPage: page, totalItems: totalRecords }; index as i ">
                    <td>{{ i+1 }}</td>
                    <td>{{ bloodGroup.value }}</td>
                    <ng-container *ngIf="bloodGroup.status;then enabled;else disabled"></ng-container>
                    <ng-template #enabled>
                        <td class="text-primary"> Enabled </td>
                        <td>
                            <button (click)="changeStatus(bloodGroup.id, false)" class="btn btn-danger">Disable</button> &nbsp;
                            <a [routerLink]="['/blood-groups/edit', bloodGroup.id]" class="btn btn-success">Edit</a>
                        </td>
                    </ng-template>
                    <ng-template #disabled>
                        <td class="text-primary"> Disabled </td>
                        <td>
                            <button (click)="changeStatus(bloodGroup.id, true)" class="btn btn-danger">Enable</button>&nbsp;
                            <a [routerLink]="['/blood-groups/edit', bloodGroup.id]" class="btn btn-success">Edit</a>
                        </td>
                    </ng-template>
                </tr>
            </tbody>
        </table>
        <div class="float-end">
            <pagination-controls id="pagination_list" (maxSize)="5" (pageChange)="getPage((page = $event))">
            </pagination-controls>
        </div>
    </div>
</div>